@page "/completions"

@inherits CompletionsPage

<PageTitle>Completions</PageTitle>

<PageHeader Icon="fa-regular fa-comment">Completions</PageHeader>

<p class="mb-4">Given a prompt, the model will return one or more predicted completions, and can also return the probabilities of alternative tokens at each position.</p>

<EditForm Model="Request" OnValidSubmit="OnSubmitAsync">
    <div class="row">
        <div class="col-md-3 border-end pe-4 d-none d-md-block">
            <CompletionsOptions Request="Request" CompletionModels="CompletionModels" InColumn="false"></CompletionsOptions>
        </div>
        <div class="col-md-9 col-sm-12 ps-md-4">
            <div class="mb-3">
                <FormLabel InputId="Prompt" Tooltip="@Tooltips.Prompt">Prompt</FormLabel>
                <InputText id="Prompt" @bind-Value="Request.Prompt" class="form-control"/>
            </div>

            <div class="row">
                <div class="col-auto">
                    <SubmitButton Text="Create Completion"
                                  LoadingText="Creating Completion..."
                                  IsLoading="IsLoading">
                    </SubmitButton>
                </div>
                <div class="col-auto p-0 d-block d-sm-block d-md-none">
                    <OptionsButton IsLoading="IsLoading"></OptionsButton>
                </div>
            </div>

            @if (Response is not null && Error is null)
            {
                <div class="row mt-4">
                    <div class="col">
                        <h4>Response</h4>

                        @for (var index = 0; index < Response.Choices.Count; index++)
                        {
                            var choice = Response.Choices[index];
                            <div class="card d-flex mt-3">
                                <div class="card-header">
                                    Choice @(index + 1)
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">@choice.Text</div>
                                    <span class="fw-bold">Index</span>: @choice.Index<br/>
                                    <span class="fw-bold">Finish Reason</span>: @choice.FinishReason<br/>
                                    <span class="fw-bold">Log Probs</span>: @choice.LogProbs
                                </div>
                            </div>
                        }

                        <div class="card d-flex mt-3">
                            <div class="card-header">
                                Info
                            </div>
                            <div class="card-body">
                                <span class="fw-bold">Id</span>: @Response.Id<br/>
                                <span class="fw-bold">Object</span>: @Response.Object<br/>
                                <span class="fw-bold">Created</span>: @Response.Created<br/>
                                <span class="fw-bold">Model</span>: @Response.Model
                            </div>
                        </div>

                        @if (Response.Usage is not null)
                        {
                            <div class="card d-flex mt-3">
                                <div class="card-header">
                                    Usage
                                </div>
                                <div class="card-body">
                                    <span class="fw-bold">Prompt Tokens</span>: @Response.Usage.PromptTokens<br/>
                                    <span class="fw-bold">Completion Tokens</span>: @Response.Usage.CompletionTokens<br/>
                                    <span class="fw-bold">Total Tokens</span>: @Response.Usage.TotalTokens
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

            <Error Model="Error"></Error>
        </div>
    </div>
    
    <div class="modal fade" id="optionsModal" tabindex="-1" aria-labelledby="optionsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="optionsModalLabel">Options</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <CompletionsOptions Request="Request" CompletionModels="CompletionModels" InColumn="true"></CompletionsOptions>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>
