@page "/embeddings"

@inherits EmbeddingsPage

<PageTitle>Embeddings</PageTitle>

<PageHeader Icon="fa-solid fa-circle-nodes">Embeddings</PageHeader>

<p class="mb-4">Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.</p>

<EditForm Model="Request" OnValidSubmit="OnSubmitAsync">
    <div class="row" style="min-height: 300px;">
        <div class="col-md-3 border-end pe-4 d-none d-md-block">
            <EmbeddingsOptions Request="Request" EmbeddingsModels="EmbeddingModels" InColumn="false"></EmbeddingsOptions>
        </div>
        <div class="col-md-9 col-sm-12 ps-md-4">
            <div class="mb-3">
                <FormLabel InputId="Input" Tooltip="@Tooltips.Input">Input</FormLabel>
                <InputText id="Input" @bind-Value="Request.Input" class="form-control" />
            </div>
            
            <div class="row">
                <div class="col-auto">
                    <SubmitButton
                        Text="Create Embeddings"
                        ProcessingText="Creating Embeddings..."
                        IsProcessing="IsProcessing">
                    </SubmitButton>
                </div>
                <div class="col-auto p-0 d-block d-sm-block d-md-none">
                    <OptionsButton IsProcessing="IsProcessing"></OptionsButton>
                </div>
            </div>
            
            @if (Response is not null && Error is null)
            {
                <div class="row mt-4">
                    <div class="col-6">
                        <h4>Response</h4>

                        @for (var index = 0; index < Response.Data.Count; index++)
                        {
                            var data = Response.Data[index];
                            <div class="card d-flex mt-3">
                                <div class="card-header">
                                    Data @(index + 1)
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">@string.Join(", ", data.Embedding.Select(x => x))</div>
                                    <span class="fw-bold">Index</span>: @data.Index<br/>
                                    <span class="fw-bold">Object</span>: @data.Object
                                </div>
                            </div>
                        }

                        <div class="card d-flex mt-3">
                            <div class="card-header">
                                Info
                            </div>
                            <div class="card-body">
                                <span class="fw-bold">Object</span>: @Response.Object<br />
                                <span class="fw-bold">Model</span>: @Response.Model
                            </div>
                        </div>

                        <div class="card d-flex mt-3">
                            <div class="card-header">
                                Usage
                            </div>
                            <div class="card-body">
                                <span class="fw-bold">Prompt Tokens</span>: @Response.Usage.PromptTokens<br />
                                <span class="fw-bold">Total Tokens</span>: @Response.Usage.TotalTokens
                            </div>
                        </div>
                    </div>
                </div>
            }

            <Error Model="Error"></Error>
        </div>
    </div>
    
    <OptionsModal>
        <EmbeddingsOptions Request="Request" EmbeddingsModels="EmbeddingModels" InColumn="true"></EmbeddingsOptions>
    </OptionsModal>
</EditForm>
