@page "/fine-tuning"

@inherits FineTuningPage

<PageTitle>Fine-Tuning</PageTitle>

<PageHeader Icon="fa-solid fa-screwdriver-wrench">Fine-Tuning (Work In Progress)</PageHeader>

<p class="mb-4">Manage fine-tuning jobs to tailor a model to your specific training data. Related guide: <a href="https://platform.openai.com/docs/guides/fine-tuning" title="Fine-tune models" target="_blank">Fine-tune models</a>.</p>

@if (IsProcessing)
{
    <button id="OpenCreateFineTuneModal" type="button" class="btn btn-primary" disabled>Create Fine-Tune</button>
    <button id="RefreshList" type="button" class="btn btn-primary" disabled>Refresh</button>

    <div id="FineTunesLoading" class="my-4">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span>Loading Fine-tunes...</span>
    </div>
}

@if (Error is null && IsProcessing is false)
{
    <button id="OpenCreateFineTuneModal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateFineTuneModal" @onclick="FakeClick">Create Fine-Tune</button>
    <button id="RefreshList" type="button" class="btn btn-primary" @onclick="LoadFineTunes">Refresh</button>

    <div class="row my-4">
        <div class="col">
            @if (FineTunes.Any())
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">&nbsp;</th>
                            <th scope="col">Id</th>
                            <th scope="col">Base Model</th>
                            <th scope="col">Fine-tuned Model</th>
                            @*<th scope="col">Organization</th>*@
                            <th scope="col">Status</th>
                            <th scope="col">Created</th>
                            <th scope="col">Updated</th>
                            @*<th scope="col">&nbsp;</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @for (var index = 0; index < FineTunes.Count; index++)
                        {
                            var fineTune = FineTunes[index];
                            <tr>
                                <th scope="row" class="text-end">@(index + 1)</th>
                                <td id="fineTune@(index + 1)Id">@fineTune.Id</td>
                                <td>@fineTune.Model</td>
                                <td>@fineTune.FineTunedModel</td>
                                @*<td>@fineTune.OrganizationId</td>*@
                                <td>@fineTune.Status</td>
                                <td>@fineTune.CreatedAt.ToDateTime()</td>
                                <td>@fineTune.UpdatedAt.ToDateTime(fineTune.CreatedAt)</td>
                                @*<td class="text-center">
                                    <a href="#" @onclick:preventDefault="true" @onclick="() => SetFileIdToDelete(fineTune.Id)" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </a>
                                </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-secondary" role="alert">
                    No fine-tunes found
                </div>
            }
        </div>
    </div>
}

<Error Model="Error"></Error>

<EditForm Model="CreateFineTuneRequest" OnValidSubmit="OnSubmitAsync">
    <div class="modal fade" id="CreateFineTuneModal" tabindex="-1" aria-labelledby="CreateFineTuneModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CreateFineTuneModalLabel">Create Fine-Tune</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <FormLabel InputId="Model" InColumn="true" Tooltip="">Model</FormLabel>
                        <div class="col-sm">
                            <InputSelect id="Model" @bind-Value="CreateFineTuneRequest.Model" class="form-select">
                                @foreach (var item in FineTuningModels)
                                {
                                    <option value="@item">@item</option>
                                }
                            </InputSelect>
                        </div>
                    </div>

                    OTHER INPUTS HERE

                    <Error Model="CreateError"></Error>
                </div>
                <div class="modal-footer">
                    @if (IsCreating)
                    {
                        <button id="CreateFineTune" class="btn btn-primary text-nowrap" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Creating Fine-Tune...
                        </button>
                    }
                    else
                    {
                        <button id="CreateFineTune" type="submit" class="btn btn-primary">Create Fine-Tune</button>
                    }
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>
